#darkMode {
  background: transparent url("../assets/images/darkIcon.png") no-repeat center;
  background-size: 40px 40px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  margin-right: 5px;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background: url("../assets/images/lightIcon.png") no-repeat center;
  background-size: 40px 40px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
}

button:hover .tooltiptext {
  visibility: visible;
}
