.footer {
  background-color: #fd7545;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
  color: rgb(242, 242, 242);
  text-shadow: black 2px 1px;
  width: 100%;
  position: relative;
  bottom: 0;
  height: fit-content;
  text-align: center;
}
