.header {
    background-color: #fd7545;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
}

.logo {
    margin: 10px;
    padding: 10px;
}

.navbar {
    padding-top: .6vh;
    padding-left: 9vw;
}

.button {
    padding-left: 21vw;
    padding-top: .5vw;
}