.header {
    background-color: #fd7545;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.logo {
    margin: 10px;
    padding: 10px;
}

.navbar {
    padding-top: 1vw;
    padding-left: 8vw;
}

.button {
    padding-left: 20vw;
    padding-top: .9vw;
}