/* Container for entire page */
.profile-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
     background-color: rgb(180, 179, 179);
    margin-top:3%;
    margin-left: 10%;
     border-radius: 15%;
     width: 80vw; 
}

/* Left column */
.profile-left-col{
margin-top: 3rem;
margin-left: 30%;
}

.profile-img{
    border-radius: 50%;
    height:400px;
    width:400px;
    margin-top:5rem;
}

/* Right column (form) */
.profile-right-col{
   margin-top:3rem;
   margin-left: 12rem;
   
}
form input{
    margin-top:1rem;
}
