/* Container for entire page */
.profile-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
 /*    background-color: white;
    margin-top:3%;
    margin-left: 10%;
     border-radius: 15%;
     width: 80vw; */
}
/* Left column */
.profile-left-col{
margin-top: 3rem;
margin-left: 30%;
}
.profile-img{
    border-radius: 50%;
    height:400px;
    width:400px;
    margin-top:2rem;
}
/* Right column (form) */
.profile-right-col{
   margin-top:3rem;
   margin-left: 12rem;
   
}
form input{
    margin-top:1rem;
}
h1{
    text-decoration: underline;
}
h1 input{
    margin-top:2rem;
}
