.table-container{
    margin-left:auto;
    margin-right:auto;
}
td{
    text-align: center;
}
.table-heading{
    margin-top: 2rem;
    text-align: center;
}

.edit-container{
    margin-top:3rem;
    margin-left:50%;
    
}
th{
    text-decoration: underline;
} 